body {
font-family: "Times New Roman";
font-size: 18px;
margin: 0px;
padding: 0px;
}

nav {
  background: #EEB61D;
  color: white;
  position: fixed;
  top: 0px; left: 0px;
  width: 100%;
  display: inline;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
  background-color: #004E69;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul li:hover { background-color: #004E69; color: white;}

.Logo {
  position: relative;
  top: 150px;
  left: 0px;
  z-index: -1;
  Width: 305px;
  height: 190px;
  /* W: 305   H: 190 */
}


h1 {
  position: relative;
  top: 80px;
  left: 300px;
  font-style: italic;
  text-align: center;
  font-size: 40px;
  color: #004E69;
  display: inline-block;
  z-index: -1;
}

h3 {
  font-size: 20px;
  color: #EEB61D;
  font-style: italic;
}

.startp {
  content-align: center;
  position: relative;
  top: 200px;
  left: 150px;
  display: inline-block;
  z-index: -1;
}

.I123 {
  margin: 10px;
 z-index: -1;
}

div {
  background-color: #f1f1f1;

}

.TWhere {
  color: #004E69;

}
